.main {
    position: fixed;
    top: 88px;
    left: 0;
    width: 100vw;
    height: calc(100% - 88px);
    z-index: 12;
}

.homeWrapper {
    width: 100%;
    height: 100%;
    overflow: hidden auto;

    &::-webkit-scrollbar {
        display: none;
    }
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10vh 0;
}

.banner {
    width: 100%;
    height: 100%;

    .bannerContent {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 12px;
        justify-content: flex-start;
        padding-top: 25%;


        @media only screen and (max-width: 1200px) {
            padding-top: 0%;
        }

        .dash {
            width: 25%;

            &::before {
                height: 2px;
            }
        }

        .desc {
            font-size: 2em;
            -webkit-text-stroke: 1px var(--lightGreen);
        }
    }
}