.timeline {
    margin: 8rem auto;
    padding: 4rem 0;
    position: relative;

    canvas {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        opacity: .7;
    }

    img {
        width: 36px;
        height: 36px;
        border-radius: 50%;
    }
}

.title {
    width: fit-content;
    color: var(--lightGreen);
    margin: 0 auto 1rem !important;
}